{% extends "layout.html" %}
{% block content %}
<body class="background">
   <p class="wallet", style="margin-bottom:40px; margin-top:40px;">Wallet</p>
   <div class="wallet-holder">
      <div class="flex-container">
         <div class="flex-child">
            <p class="bold_text" style="font-size: 170%">₺{{ current_user.balance | round(4)}}</p>
            <p class="subtext" style="font-size: 75%; padding-top: 10px; padding-bottom: 3px;">{{ (btc_price * current_user.balance) | round(5) }} BTC</p>
         </div>
         <div class="flex-child" style="text-align: right; margin-top: 12px">
            <img class="lcoin_icon"
               src="{{ image_file }}"
               width="40" height="40">
         </div>
      </div>
      <table class="button-holder" style="margin-left: 4%;">
         <tr>
            <td><button onclick="location.href='{{url_for('transactions.send')}}'" class="button"><span class="text">↑ Send</a></span></button></td>
            <td><button onclick="location.href='{{url_for('transactions.request')}}'" id="notify" class="button {{ notification }}" data-badge="" style="margin-left: 20px;"><span class="text">↓ Request</span></button></td>
            <td><button onclick="location.href='{{url_for('users.account')}}'" class="button" style="margin-left: 20px;"><span class="text">⚙ </span></button></td>
         </tr>
      </table>
      <div class="flex-container">
         <div class="flex-child">
            <p class="dark-text" style="font-size: 90%; margin-left: 8%;">Holdings:</p>
         </div>
         <div class="flex-child" style="text-align: right">
         </div>
      </div>
      <div class="flex-container">
         <div class="" style="margin-left: 4%;">
            <img class="round_icon" style="margin-left: 3%;" src="{{ url_for('main.logo') }}" width="55" height="55">
         </div>
         <div class="flex-child" style="margin-left: 20px;">
            <p class="bold_text" style="margin-left: 0;">Learn Coin</p>
            <p class="dark-text" style="margin-top: -10px; margin-left: 0; font-size: 80%;">LCC</p>
         </div>
         <div class="flex-child" style="text-align: right; margin-bottom: 20px;">
            <p class="bold_text" style="margin-right: 10%;">₺{{ current_user.balance | round(5)}}</p>
            <p class="dark-text" style="margin-top: -10px; margin-right: 10%; font-size: 80%;">{{ (btc_price * current_user.balance) | round(5) }} BTC</p>
         </div>
      </div>
   </div>

   <p class="dark-text" style="font-size: 90%; margin-left: 5%; margin-top: 35px; margin-bottom: 40px;">Transactions</p>
   <div class="wallet-holder">
      <p class="dark-text" style="font-size: 90%; padding-left: 4%; padding-top: 15px; padding-bottom: 5px;">Completed</p>

      {{transactions_html | safe}}

   </div>
       <!-- Start of HubSpot Embed Code -->
       <script
       type="text/javascript"
       id="hs-script-loader"
       async
       defer
       src="//js-eu1.hs-scripts.com/25879453.js"
     ></script>
     <!-- End of HubSpot Embed Code -->
</body>
{% endblock content %}