<!DOCTYPE html>
<html lang="en">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta 
      http-equiv="Cache-Control"
      content="no-cache, no-store, must-revalidate"
    />

    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />

    <script type="text/javascript" src="{{url_for('static', filename='javascript/app.js')}}"></script>
    <link rel="manifest" href="{{url_for('static', filename='manifest.json')}}">
    <meta name="theme-color" content="#000000"/>
    <link rel="apple-touch-icon" href="{{url_for('static', filename='images\icons\icon-1024x1024.png')}}">
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />

    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='images/favicon.ico') }}"
    />

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='javascript/close-alert.js') }}"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='javascript/api-accept.js') }}"
    ></script>
    
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='javascript/api-deny.js') }}"
    ></script>
    
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Learn Coin</title>
    {% endif %}
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  {% with messages = get_flashed_messages(with_categories= true) %} {% if
  messages %} {% for category, message in messages %}
  <div class="alert alert-{{ category }}">
    <button type="button" class="close" data-dismiss="alert">⨉</button>
    {{ message }}
  </div>
  {% endfor %} {% endif %} {% endwith %} {% block content %} {%endblock%}
</html>
