{% extends "layout.html" %} {% block content %}
<body class="background">
  <p class="wallet" , style="margin-bottom:40px; margin-top:40px;">Login</p>

  <fieldset class="form-group">
      <div class="wallet-holder">
          <div class="form-container">
              <form method="POST" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}

                  <div class="form-group">
                      {{ form.email.label(class="dark-text-form") }}
                      {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                          {% for error in form.email.errors %}
                          <span class="error-text">{{ error }}</span>
                          {% endfor %}
                      </div>
                      {% else %}
                      {{ form.email(class="form-control form-control-lg") }}
                      {% endif %}
                  </div>
                  <div class="form-group">
                    {{ form.password.label(class="dark-text-form") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span class="error-text">{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-password form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="flex-container">
                  <div class="flex-child">
                    <div class="form-check">
                      {{form.remember(class="checkmark")}}
                      {{form.remember.label(class="dark-text-form")}}
                    </div>
              </div>
                  <div class="flex-child" style="text-align: right; margin-right: 2%">
                          <div class="border-top pt-3">
                            <small class="text-muted">
                              Need An Account?
                              <a class="ml-2 link" href="{{ url_for('register') }}">Sign Up Now</a>
                            </small>
                          </div>
                          <small class="text-muted">
                            <a class="ml-2 link" href="{{ url_for('reset_request') }}">Forgot Password?</a>
                          </small>
                    </div>
                </div>
                <div class="separator"></div>
          </div>
      </div>

      <div style="margin: 0 auto; width: 100%; text-align:center; margin-top:20px;">
                      <div class="form-group">{{ form.submit(class="button-submit button") }}</div>
      </div>
      </form>
      </fieldset>
  </div>

</body>
{% endblock content %}
