{% extends "layout.html" %}
{% block content %}
<body class="background">
   <p class="wallet" , style="margin-bottom:40px; margin-top:40px;">Register</p>
   <fieldset class="form-group">
      <div class="wallet-holder">
         <div class="form-container">
            <form method="POST" action="" enctype="multipart/form-data">
               {{ form.hidden_tag() }}
               <div class="form-group">
                  {{ form.username.label(class="dark-text-form") }}
                  {% if form.username.errors %}
                  {{ form.username(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                     {% for error in form.username.errors %}
                     <span class="error-text">{{ error }}</span>
                     {% endfor %}
                  </div>
                  {% else %}
                  {{ form.username(class="form-control form-control-lg") }}
                  {% endif %}
               </div>
               <div class="form-group">
                  {{ form.email.label(class="dark-text-form") }}
                  {% if form.email.errors %}
                  {{ form.email(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                     {% for error in form.email.errors %}
                     <span class="error-text">{{ error }}</span>
                     {% endfor %}
                  </div>
                  {% else %}
                  {{ form.email(class="form-control form-control-lg") }}
                  {% endif %}
               </div>
               <div class="form-group" style="position: relative">
                  {{ form.password.label(class="dark-text-form") }}
                  {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <i class="far fa-eye eyeButton" id="togglePassword"></i>
                      <div class="invalid-feedback">
                          {% for error in form.password.errors %}
                              <span class="error-text">{{ error }}</span>
                          {% endfor %}
                      </div>
                  {% else %}
                      {{ form.password(class="form-password form-control form-control-lg", id="password") }}

                        <i class="far fa-eye eyeButton" id="togglePassword"></i>

                  {% endif %}
              </div>
               <div class="form-group">
                  {{ form.confirm_password.label(class="dark-text-form") }}
                  {% if form.confirm_password.errors %}
                  {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                  <div class="invalid-feedback">
                     {% for error in form.confirm_password.errors %}
                     <span class="error-text">{{ error }}</span>
                     {% endfor %}
                  </div>
                  {% else %}
                  {{ form.confirm_password(class="form-control form-control-lg") }}
                  {% endif %}
                  <script type = "text/javascript" src="{{url_for('static', filename='javascript/password-eye.js')}}"></script>
               </div>
               <div class="flex-container">
                  <div class="flex-child" style=" margin-right: 2%">
                     <div class="border-top pt-3">
                        <small class="text-muted">
                        Already Have An Account? <a class="ml-2 link" href="{{ url_for('users.login') }}">Sign In</a>
                        </small>
                     </div>
                  </div>
               </div>
               <div class="separator"></div>
         </div>
      </div>
      <div style="margin: 0 auto; width: 100%; text-align:center; margin-top:20px;">
      <div class="form-group">{{ form.submit(class="button-submit button") }}</div>
      </div>
      </form>
   </fieldset>
   </div>
       <!-- Start of HubSpot Embed Code -->
       <script
       type="text/javascript"
       id="hs-script-loader"
       async
       defer
       src="//js-eu1.hs-scripts.com/25879453.js"
     ></script>
     <!-- End of HubSpot Embed Code -->
</body>
{% endblock content %}